Source: kittens
Section: python
Priority: optional
Maintainer: KERN packaging <packaging@kernsuite.info>
Build-Depends:
 debhelper (>= 9.0.0),
 python-all,
 python-setuptools,
 python3-all,
 python3-setuptools,
 python-astropy,
 python3-astropy
Standards-Version: 3.9.7
Homepage: https://github.com/ska-sa/kittens
Vcs-Git: https://github.com/kernsuite-debian/kittens
Vcs-Browser: https://github.com/kernsuite-debian/kittens
X-Python-Version: 2.7

Package: python-astro-kittens
Architecture: any
Depends: ${python:Depends}, ${misc:Depends}
Replaces: python-kittens
Description: Collection of Python utility functions for purr, tigger, meqtrees and others

Package: python3-astro-kittens
Architecture: any
Depends: ${python3:Depends}, ${misc:Depends}
Description: Collection of Python utility functions for purr, tigger, meqtrees and others

Package: kittens
Architecture: any
Depends: ${misc:Depends}, python-astro-kittens
Description: Metapackage for kittens
